/* Stylisation for the body */
body {
    background-color: #b5b5b5;
    margin: 0px;
}

/* Container for all content */
div#container {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin: 0px auto;
    width:  800px;
    height: 440px;
}
